body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.room_list_members_count {
  font-size: 14pt;
  padding-left: 5px;
  color: green;
}

.room_list_members_count_empty {
  color: gray !important;
  font-style: italic;
}

.bottom_spacer {
  height: 50pt;
}

.player_size_slider {
  width: 100px !important;
  margin-left: 50px;
}

.admin_volume_slider {
  width: 170px !important;
  margin-left: 10px;
}

.admin_radio_state {
  margin-left: 10px;
}

.room_list_title {
  color: gray;
}

.room_container {
  position: relative;
}

.room_panels {
  position: fixed;
  left: 0;
  top: 35pt;
  width: 160pt;
}

.room_panel {
  border: 1px solid black;
  padding-left: 2px;
  border-radius: 20px;
  padding-right: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5px;
}

.room_main {
  position: absolute;
  left: 170pt;
  top: 0;
}

.room_panel_head {
  padding-left: 10px;
  color: rgb(68, 69, 178);
}

#room_members_list {
  list-style-type: square;
  color: rgb(59, 136, 59);
}

.room_current_title {
  color: blue;
}

.room_song_time {
  color: green;
}

.pinpoint_rulez {
  position: absolute;
  color: gray;
  left: 10px;
  top: 10px;
}

.add_new_form {
  position: relative;
}

.add_new_form_loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.44);
  width: 640px;
  text-align: center
}

.add_new_form_loading_hide {
  display: none;
}

.add_new_form_loading img {
  margin-top: 20px;
}

.item_inline_div {
  display: inline-block;
  margin-right: 5px;
}

.item_inline_skipreason {
  color: rgb(255, 121, 121);
}
